@model string

@{
  var _page = ViewData[PageInfo.Page]?.ToString() ?? string.Empty;
}


@* Docs listing & content *@
<div class="container">
  <div class="row gx-5 docs-content">
    @* Docs navigation *@
    <div class="col-12 col-lg-4 mb-5 mt-0 mt-lg-5 pt-3">
      <aside class="sidebar">
        <section class="sidebar-item">
          @await Html.PartialAsync("_Ads")
        </section>


        @* Docs navigation *@
        <section class="docs-nav">
          <ul class="docs-nav">
            @* Overview *@
            <li>
              <button toggle-el="#nav-overview">Overview</button>
              <ul id="nav-overview">
                <li class="@(_page.Contains("features") ? "item--active" : "")">
                  <a asp-action="DocsPage" asp-route-slug="features">
                    App features
                  </a>
                </li>
                <li class="@(_page.Contains("supported-formats") ? "item--active" : "")">
                  <a asp-action="DocsPage" asp-route-slug="supported-formats">
                    Supported formats
                  </a>
                </li>
              </ul>
            </li>


            @* For power users *@
            <li>
              <button toggle-el="#nav-power-user">For power users</button>
              <ul id="nav-power-user">
                <li class="@(_page.Contains("theme-pack") ? "item--active" : "")">
                  <a asp-action="DocsPage" asp-route-slug="theme-pack">
                    Create ImageGlass theme pack
                  </a>
                </li>
                <li class="@(_page.Contains("imageglass-tools") ? "item--active" : "")">
                  <a asp-action="DocsPage" asp-route-slug="imageglass-tools">
                    Build tools for ImageGlass
                  </a>
                </li>
                <li class="@(_page.Contains("command-line-utilities") ? "item--active" : "")">
                  <a asp-action="DocsPage" asp-route-slug="command-line-utilities">
                    Command line utilities
                  </a>
                </li>
                <li class="@(_page.Contains("app-configs") ? "item--active" : "")">
                  <a asp-action="DocsPage" asp-route-slug="app-configs">
                    App config files
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </aside>
    </div>


    @* Docs article content *@
    <div class="col-12 col-lg-8 my-5 aniSlideUp ani-delay-25">
      @await Html.PartialAsync("_MarkdownBody", Model)
    </div>
  </div>
</div>
