@model ReleaseModel

@{
  var controller = "Release";
  var controllerAction = nameof(ReleaseController.ReleaseDetailPage);
  var slugId = Model.News?.SlugAndId ?? Model.SlugAndId;

  if (Model.News != null) {
    controller = nameof(Model.News);
    controllerAction = nameof(NewsController.NewsDetailPage);
  }
}

@* ------------------ Featured content *@
<div class="container-fluid bg-surface home-featured">
  <div class="container home-featured-container">
    <div class="home-featured-content">
      <div class="home-featured-info">
        <div class="fs-5 opacity-65 aniSlideDown">
          Introduce
        </div>
        <h2 class="home-featured-title mt-0 aniSlideDown ani-delay-25">
          <span class="fs-1">@Model.Title</span>
          <sup class="post-badge text-uppercase mt-2 mt-lg-0 fs-6">@Model.ReleaseChannel</sup>
        </h2>
        <div class="aniSlideDown ani-delay-75">
          A lightweight, versatile image viewer
        </div>
        <div class="mt-3 d-inline-flex align-items-center aniSlideUp ani-delay-150">
          <a class="btn btn-accent" title="Learn more"
            asp-controller="@controller" asp-action="@controllerAction" asp-route-slugId="@slugId">
            Learn more
          </a>
        </div>
      </div>

      <a class="home-featured-image" asp-controller="@controller" asp-action="@controllerAction" asp-route-slugId="@slugId">
        <img src="@Model.Image" alt="@Model.Title" onerror="this.hidden = true" />
      </a>
    </div>
  </div>

  <svg class="svg-bg" role="none" viewBox="0 0 22 22">
    <path d="m7.693 1043.39c-.515-1.022.145-2.212 1.139-2.62 1.403-.576 2.954.32 3.447 1.686.643 1.781-.494 3.699-2.234 4.274-2.157.714-4.446-.668-5.101-2.781-.786-2.533.842-5.193 3.328-5.928 2.908-.86 5.942 1.015 6.755 3.875.934 3.283-1.188 6.691-4.423 7.582-3.658 1.01-7.44-1.361-8.409-4.97-1.083-4.03 1.535-8.19 5.517-9.236 4.407-1.158 8.94 1.708 10.06 6.06.489 1.897.313 3.935-.474 5.728" fill="none" fill-rule="evenodd" stroke-linejoin="round" stroke-linecap="round" transform="translate(1-1031.36)"/>
  </svg>
</div>



@* ------------------ Features *@
<div class="container py-5 text-center">
  <h2 class="fw-400">Seamless viewing experience</h2>
  <div class="mb-5 opacity-65">
    A simple-to-use program that comes packed with basic functions and a nice minimal modern user interface.
  </div>
  <ul class="grid-experience">
    <li class="box p-4">
      <div class="icon">🌝</div>
      <div class="title">grid-experience</div>
      <div class="description">ImageGlass works great with GIF, SVG, HEIC and RAW formats, among others</div>
    </li>
    <li class="box p-4">
      <div class="icon">🌝</div>
      <div class="title">grid-experience</div>
      <div class="description">ImageGlass works great with GIF, SVG, HEIC and RAW formats, among others</div>
    </li>
    <li class="box p-4">
      <div class="icon">🌝</div>
      <div class="title">grid-experience</div>
      <div class="description">ImageGlass works great with GIF, SVG, HEIC and RAW formats, among others</div>
    </li>
    <li class="box p-4">
      <div class="icon">🌝</div>
      <div class="title">grid-experience</div>
      <div class="description">ImageGlass works great with GIF, SVG, HEIC and RAW formats, among others</div>
    </li>
    <li class="box p-4">
      <div class="icon">🌝</div>
      <div class="title">grid-experience</div>
      <div class="description">ImageGlass works great with GIF, SVG, HEIC and RAW formats, among others</div>
    </li>
    <li class="box p-4">
      <div class="icon">🌝</div>
      <div class="title">grid-experience</div>
      <div class="description">ImageGlass works great with GIF, SVG, HEIC and RAW formats, among others</div>
    </li>
  </ul>
</div>



@* ------------------ Open source *@
<div class="container-fluid bg-surface py-5">
  xxxxxxxx
</div>


@* ------------------ Donation *@
<div class="container py-5">
  <div class="container-limit2 box p-4 box-info box-noborder">
    @await Html.PartialAsync("_Donation")
  </div>
</div>
