@model ReleaseModel

@{
  var controller = "Release";
  var controllerAction = nameof(ReleaseController.ReleaseDetailPage);
  var slugId = Model.News?.SlugAndId ?? Model.SlugAndId;

  if (Model.News != null) {
    controller = nameof(Model.News);
    controllerAction = nameof(NewsController.NewsDetailPage);
  }

  var starsCount = ViewData["_RepoStarsCount"]?.ToString() ?? string.Empty;
  var forksCount = ViewData["_RepoForksCount"]?.ToString() ?? string.Empty;
  var subscribersCount = ViewData["_RepoSubscribersCount"]?.ToString() ?? string.Empty;
}

@* ------------------ Featured content *@
<div class="container-fluid bg-surface home-featured">
  <div class="container home-featured-container">
    <div class="home-featured-content">
      <div class="home-featured-info">
        <div class="fs-5 opacity-65 aniSlideDown">
          Introduce
        </div>
        <h2 class="home-featured-title mt-0 aniSlideDown ani-delay-25">
          <span class="fs-1">@Model.Title</span>
          <sup class="post-badge text-uppercase mt-2 mt-lg-0 fs-6">@Model.ReleaseChannel</sup>
        </h2>
        <div class="aniSlideDown ani-delay-75">
          A lightweight, versatile image viewer
        </div>
        <div class="mt-3 d-inline-flex align-items-center aniSlideUp ani-delay-150">
          <a class="btn btn-accent" title="Learn more"
            asp-controller="@controller" asp-action="@controllerAction" asp-route-slugId="@slugId">
            Learn more
          </a>
        </div>
      </div>

      <a class="home-featured-image" asp-controller="@controller" asp-action="@controllerAction" asp-route-slugId="@slugId">
        <img src="@Model.Image" alt="@Model.Title" onerror="this.hidden = true" />
      </a>
    </div>
  </div>

  <svg class="svg-bg" role="none" viewBox="0 0 22 22">
    <path d="m7.693 1043.39c-.515-1.022.145-2.212 1.139-2.62 1.403-.576 2.954.32 3.447 1.686.643 1.781-.494 3.699-2.234 4.274-2.157.714-4.446-.668-5.101-2.781-.786-2.533.842-5.193 3.328-5.928 2.908-.86 5.942 1.015 6.755 3.875.934 3.283-1.188 6.691-4.423 7.582-3.658 1.01-7.44-1.361-8.409-4.97-1.083-4.03 1.535-8.19 5.517-9.236 4.407-1.158 8.94 1.708 10.06 6.06.489 1.897.313 3.935-.474 5.728" fill="none" fill-rule="evenodd" stroke-linejoin="round" stroke-linecap="round" transform="translate(1-1031.36)"/>
  </svg>
</div>



@* ------------------ Seamless viewing experience *@
<div class="container py-5 text-center">
  <h2 class="fw-400">Seamless viewing experience</h2>
  <div class="mb-5 opacity-65">
    A feature-rich, simple-to-use app seamlessly integrated with a clean, minimal and modern user interface
  </div>
  <ul class="grid-experience">
    <li class="box">
      <div class="icon">🪄</div>
      <div class="title">80+ Formats Support</div>
      <div class="description">Works great with WEBP, GIF, SVG, HEIC, RAW formats and among others</div>
    </li>
    <li class="box">
      <div class="icon">🪶</div>
      <div class="title">Lightweight & Versatile</div>
      <div class="description">Fast switch between images</div>
    </li>
    <li class="box">
      <div class="icon">🖌️</div>
      <div class="title"> Personalization</div>
      <div class="description">
        Easily install new
        <a asp-controller="Language" asp-action="LanguageListing">languages</a>,
        <a asp-controller="Theme" asp-action="ThemePackListingPage">themes</a> and
        <a asp-controller="ExtensionIcon" asp-action="ExtensionIconListingPage">icon packs</a>
      </div>
    </li>
    <li class="box">
      <div class="icon">🎨</div>
      <div class="title">Intuitive UI Design</div>
      <div class="description">Combines seamless functionality with a beautiful design</div>
    </li>
    <li class="box">
      <div class="icon">🧱</div>
      <div class="title">Flexible Customization</div>
      <div class="description">Customize app layout, toolbar buttons, and more with ease</div>
    </li>
    <li class="box">
      <div class="icon">🧩</div>
      <div class="title">Seamless Integration</div>
      <div class="description">Easily integrate third-party apps for a cohesive experience</div>
    </li>
  </ul>
</div>



@* ------------------ Open source *@
<div class="container-fluid home-open-source py-5">
  <div class="container-limit">
    <h2 class="fw-400 mt-4">Open Source Image Viewer</h2>
    <div class="mb-5 mx-auto opacity-65" style="max-width: 700px;">
      Explore the world of an open-source image viewer, a feature-rich and customizable solution for all your image viewing needs
    </div>
    @if (!string.IsNullOrWhiteSpace(starsCount)) {
      <ul class="repo-stats">
        <li>
          <div class="number">@starsCount</div>
          <div>Stars</div>
        </li>
        <li>
          <div class="number">@forksCount</div>
          <div>Forks</div>
        </li>
        <li>
          <div class="number">@subscribersCount</div>
          <div>Subscribers</div>
        </li>
      </ul>
    }

    <div>
      <a class="btn mt-4" href="https://github.com/d2phap/ImageGlass" target="_blank" rel="noopener noreferrer">
        <svg width="16" height="16" viewBox="0 0 98 96" fill="currentColor">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" />
        </svg>
        <span class="ms-1">Check out</span>
      </a>
    </div>
  </div>
</div>


@* ------------------ Donation *@
<div class="container py-5">
  <div class="container-limit2 box p-4 box-info box-noborder">
    @await Html.PartialAsync("_Donation")
  </div>
</div>
