@model ReleaseDetailModel

@{
  var list = (PaginatedList<ReleaseModel>?)ViewData[PageInfo.SidebarList];
  var screenshots = ((List<GitHubFileModel>?)ViewData["_ReleaseScreenshots"]) ?? new();
}

@* Featured content *@
<div class="container-fluid post-featured">
  <div class="container">
    <div class="container-limit">
      <div class="post-body row gx-0">
        <div class="pe-lg-4 pe-md-3 pe-0 col-12 col-lg-5 col-md-6 mb-md-0 mb-3 aniFadeIn">
          <div class="post-date">
            <time datetime="@Model.UpdatedDate">
              @Model.UpdatedDate.ToDateString()
            </time>
          </div>
          <h2 class="post-title fs-1">
            @Model.Title
          </h2>
          <div class="post-description">
            <div>
              <span>Version @Model.Version</span>
              <span class="post-badge text-uppercase ms-1">@Model.ReleaseChannel</span>
            </div>
            <div class="mt-3 d-md-block d-inline-flex flex-column">
              <a class="btn btn-accent pe-2 me-0 me-md-2" href="#downloads" title="View download options" scroll-to-el="#downloads">
                <span class="me-3">Download</span>
                <svg width="7" height="7" viewBox="0 0 14 13" fill="currentColor" stroke="currentColor">
                  <path d="M11.5625 1L2.43745 0.999999C1.35695 0.999999 0.683725 2.1721 1.22816 3.10542L3.5 7L6.13622 11.5192C6.5221 12.1807 7.4779 12.1807 7.86378 11.5192L10.5 7L12.7718 3.10542C13.3163 2.1721 12.6431 1 11.5625 1Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
              <span class="fs-6 opacity-65 mt-2 mt-md-0">
                @(Model.Count > 0 ? Model.Count.ToString("N0") : "")
              </span>
            </div>
          </div>
        </div>

        <div class="ps-lg-4 ps-md-3 ps-0 col-12 col-lg-7 col-md-6">
          <span class="post-image-link">
            <img src="@Model.Image" alt="@Model.Title" onerror="this.hidden = true" />
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


@* Release details *@
<div class="container">
  <div class="row gx-5">
    <div class="col-12 col-lg-8 my-5 aniSlideUp ani-delay-25">

      @* Requirements *@
      <section class="mb-5">
        <h2 id="requirements">Requirements</h2>
        <ul>
          @Html.Raw(@Model.Requirement.Content)
        </ul>
      </section>


      @* Changelog *@
      @if (Model.News != null) {
        <section class="mb-5">
          <h2 id="changelog">Changelog</h2>
          <div class="box">
            <h3>
              <a title="@Model.News.Title"
                asp-controller="News" asp-action="NewsDetailPage" asp-route-slugId="@Model.News.SlugAndId">
                @Model.News.Title
              </a>
            </h3>
            <div>
              @Model.News.Description
            </div>
          </div>
        </section>
      }


      @* Screenshots *@
      @if (screenshots.Count > 0) {
        <section class="mb-5">
          <h2 id="screenshots">Screenshots</h2>
          <ul class="grid-gallery">
            @for (var index = 0; index < screenshots.Count; index++)
            {
              var item = screenshots[index];

              <li class="gallery-item" data-index="@index">
                <img src="@item.Download_url" alt="@item.Name" />
              </li>
            }
          </ul>
        </section>
      }


      @* Downloads *@
      <section class="mb-5">
        <h2 id="downloads">Downloads</h2>
        <div class="mb-5">
          <p>
            <a href="https://www.microsoft.com/store/productId/9N33VZK3C7TH" target="_blank" rel="noopener noreferrer">ImageGlass Store</a>
            provides the convenience of fast, easy installation onto all of your Windows devices along with fully automatic,
            behind-the-scenes updates with all the newest features, improvements, and fixes.
          </p>
          <p class="d-flex ps-2 box box-warning">
            <span class="me-2 fs-2 lh-normal">💡</span>
            <span>
              Alternatively, you can make the payment from the section below,
              then <a href="/about#contact" target="_blank" title="Open contact">leave me a message</a>,
              I will promptly send you the code.
            </span>
          </p>


          @* Download options *@
          <div class="download-options mt-3 mb-3">
            <ms-store-badge tabindex="0" class="btn btn-accent" productid="9N33VZK3C7TH" cid="ig_website_badge" window-mode="full" theme="auto" title="Get ImageGlass from Microsoft Store">
            </ms-store-badge>

            <button class="btn option-classic" type="button" toggle-el="#classic-download" title="Get ImageGlass Classic">
              <span class="emoji">📦</span>
              <span>Get<br/>ImageGlass Classic</span>
            </button>
          </div>


          @* ImageGlass Classic download options *@
          <div hidden id="classic-download" class="popover classic-download-options">
            <div class="popover-header">
              <h3 class="my-0">ImageGlass Classic</h3>
            </div>
            <div class="popover-body">
              <div class="mb-2">Select a release:</div>
              <ul>
                @foreach (var file in @Model.BinaryFiles)
                {
                  var downloadSlugUrl = $"{Model.Slug}-{file.Id}";
                  <li>
                    <a class="btn px-3" title="Download ImageGlass @file.Type (@file.Architecture)"
                      asp-action="DownloadRelease" asp-route-slugId="@downloadSlugUrl">
                      <span class="text-capitalize">@file.Type</span>
                      <span class="post-badge" title="@file.Architecture architecture">
                        @file.Architecture
                      </span>
                      <span class="post-badge me-5" title="@file.FileType file">@file.FileType</span>
                      <span class="download-count">@file.Count.ToString("N0")</span>
                    </a>
                  </li>
                }
              </ul>
            </div>
          </div>
        </div>
      </section>


      @* Donation *@
      <section>
        @await Html.PartialAsync("_Donation")
      </section>
    </div>


    @* Sidebar *@
    <div class="col-12 col-lg-4 my-5 aniSlideUp ani-delay-50">
      <aside class="sidebar">
        <section class="sidebar-item">
          @await Html.PartialAsync("_Ads")
        </section>


        @* Release listing *@
        @await Html.PartialAsync("_SidebarList", list, new ViewDataDictionary(ViewData) {
          { "heading", "Other releases" },
          { "aspController", "Release" },
          { "aspActionListing", nameof(ReleaseController.AllReleasesListingPage) },
          { "aspActionDetail", nameof(ReleaseController.ReleaseDetailPage) },
        })
      </aside>
    </div>
  </div>
</div>


@* page script *@
<script src="~/js/pageReleaseDetail.js" asp-append-version="true"></script>
