@model ReleaseDetailModel

@{
  var list = (PaginatedList<NewsModel>?)ViewData[PageInfo.SidebarList];
  var screenshots = ((List<GitHubFileModel>?)ViewData["_ReleaseScreenshots"]) ?? new();
}


@* Featured content *@
<div class="container-fluid post-featured markdown-body">
  <div class="container">
    <div class="post-featured-content">
      <div class="post-body row gx-0">
        <div class="pe-lg-4 pe-md-3 pe-0 col-12 col-lg-5 col-md-6 mb-md-0 mb-3">
          <div class="post-date">
            <time datetime="@Model.UpdatedDate">
              @Model.UpdatedDate.ToDateString()
            </time>
          </div>
          <h2 class="post-title fs-1">
            @Model.Title
          </h2>
          <div class="post-description">
            <div class="d-flex align-items-center">
              <span>Version @Model.Version</span>
              <span class="post-badge ms-1">@Model.ReleaseChannel</span>
            </div>
            <div class="mt-3 d-flex align-items-center">
              <a class="btn btn-accent me-3" href="#downloads" title="Download">Download</a>
              <span class="fs-6" style="opacity: 0.65;">
                @(Model.Count > 0 ? Model.Count.ToString("N0") : "")
              </span>
            </div>
          </div>
        </div>

        <div class="ps-lg-4 ps-md-3 ps-0 col-12 col-lg-7 col-md-6">
          <span class="post-image-link">
            <img src="@Model.Image" alt="@Model.Title" onerror="this.hidden = true" />
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


@* Release details *@
<div class="container">
  <div class="row gx-5">
    <div class="col-12 col-lg-8 my-5">
      <section class="markdown-body mb-5">
        <h2 id="requirements">Requirements</h2>
        <ul>
          @Html.Raw(@Model.Requirement.Content)
        </ul>
      </section>

      <section class="markdown-body mb-5">
        <h2 id="screenshots">Screenshots</h2>
        <ul class="gallery">
          @for (var index = 0; index < screenshots.Count; index++)
          {
            var item = screenshots[index];

            <li class="gallery-item" data-index="@index">
              <img src="@item.Download_url" alt="@item.Name" />
            </li>
          }
        </ul>
      </section>

      <section class="markdown-body mb-5">
        <h2 id="downloads">Downloads</h2>
        <table>
          <thead>
            <tr>
              <td>Id</td>
              <td>ReleaseCode</td>
              <td>Type</td>
              <td>FileType</td>
              <td>Architecture</td>
              <td>Checksum</td>
              <td>HashAlgorithm</td>
              <td>Link</td>
              <td>Count</td>
            </tr>
          </thead>

          <tbody>
            @foreach (var file in @Model.BinaryFiles)
            {
              <tr>
                <td>@file.Id</td>
                <td>@file.ReleaseCode</td>
                <td>@file.Type</td>
                <td>@file.FileType</td>
                <td>@file.Architecture</td>
                <td>@file.Checksum</td>
                <td>@file.HashAlgorithm</td>
                <td>@file.Link</td>
                <td>@file.Count</td>
              </tr>
            }
          </tbody>
        </table>
      </section>

      <section class="markdown-body mb-5">
        <h2 id="support">Buy me a beer!</h2>
        <div>
          <p>
            ImageGlass stands as an open-source, ad-free photo viewer, yet its development and upkeep demand resources. Your financial backing not only sustains this project but also fuels my motivation for crafting future releases.
          </p>

          <p>
            Should you opt for
            <a href="https://github.com/sponsors/d2phap" target="_blank" rel="noopener noreferrer">GitHub Sponsor</a> or
            <a href="https://patreon.com/d2phap" target="_blank" rel="noopener noreferrer">Patreon</a>, be sure to explore the tier-specific benefits on offer.
            <br/>
            Your support is greatly appreciated!
          </p>

          <div class="d-flex align-items-center flex-wrap mt-4">
            <a class="btn me-2 mb-2" href="https://github.com/sponsors/d2phap" target="_blank" rel="noopener noreferrer">GitHub Sponsor</a>

            <a class="btn me-2 mb-2" href="https://patreon.com/d2phap" target="_blank" rel="noopener noreferrer">Patreon</a>

            <a class="btn me-2 mb-2" href="https://www.paypal.me/d2phap" target="_blank" rel="noopener noreferrer">PayPal</a>

            <script type="text/javascript" defer="" src="https://donorbox.org/install-popup-button.js"></script>
            <a class="btn me-2 mb-2 dbox-donation-button" href="https://donorbox.org/imageglass?default_interval=o&hide_donation_meter=true" rel="noopener noreferrer">Wire transfer</a>
          </div>
        </div>
      </section>
    </div>



    <div class="col-12 col-lg-4 my-5">
      <aside class="sidebar">
        <section class="sidebar-item">
          @await Html.PartialAsync("_Ads")
        </section>


        @if (list != null && list.Count > 0)
        {
          <section class="sidebar-item p-2">
            <h3 class="heading">The latest updates</h3>
            <ul class="article-list mb-2">
              @foreach (var item in list)
              {
                <li class="@(item.IsNewPost ? "new-article" : "")">
                  <a asp-controller="News" asp-action="@nameof(NewsController.NewsDetailPage)"
                    asp-route-slugId="@item.SlugAndId">
                    <span>@item.Title</span>
                    <time datetime="@item.UpdatedDate">
                      @item.UpdatedDate.ToDateTimeString()
                    </time>
                  </a>
                </li>
              }
            </ul>
            <div class="px-2 text-end fs-5">
              <a asp-controller="News" asp-action="@nameof(NewsController.Index)">View all</a>
            </div>
          </section>
        }
      </aside>
    </div>
  </div>
</div>
