@model PaginatedList<NewsModel>

@{
  var latestPost = Model.FirstOrDefault<NewsModel>()!;
  var postItems = Model.Skip(1)!;
}


@* Featured post *@
<div class="container-fluid post-featured markdown-body">
  <div class="container">
    <div class="post-featured-content">
      <div class="post-body row gx-0">
        <div class="pe-lg-4 pe-md-3 pe-0 col-12 col-lg-5 col-md-6 mb-md-0 mb-3">
          <div class="post-date">
            <time datetime="@latestPost.UpdatedDate">
              @latestPost.UpdatedDate.ToDateString()
            </time>
          </div>
          <h2 class="post-title fs-1">
            <a asp-action="NewsDetailPage" asp-route-slugId="@latestPost.SlugAndId">
              @latestPost.Title
            </a>
          </h2>
          <div class="post-description">@latestPost.Description</div>
        </div>

        <div class="ps-lg-4 ps-md-3 ps-0 col-12 col-lg-7 col-md-6">
          <a class="post-image-link" asp-action="NewsDetailPage" asp-route-slugId="@latestPost.SlugAndId">
            <img src="@latestPost.Image" alt="@latestPost.Title" onerror="this.hidden = true" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>



@* Posts list *@
<div class="container markdown-body py-5 mx-auto">
  <h1>All news</h1>

  @* Ads *@
  <div class="mb-5">
    <div class="sidebar-item section-quang-cao">
      @await Html.PartialAsync("_Ads")
    </div>
  </div>

  <section class="post-list">
    <ul>
      @foreach (var item in postItems)
      {
        <li>
          <a class="post-item" asp-action="NewsDetailPage" asp-route-slugId="@item.SlugAndId" title="@item.Title">
            <div class="post-image">
              <img src="@item.Image" alt="@item.Title" onerror="this.hidden = true" />
            </div>
            <div class="post-body">
              <div class="post-title">
                @item.Title
              </div>
              <div class="post-description">
                @item.Description
              </div>
              <div class="post-date">
                <time datetime="@item.UpdatedDate">
                  @item.UpdatedDate.ToDateString()
                </time>
              </div>
            </div>
          </a>
        </li>
      }
    </ul>

    @{
      var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
      var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <div class="post-list-pagination">
      <a asp-action="Index" asp-route-page="@(Model.PageIndex - 1)" tabindex="@(Model.HasPreviousPage ? 0 : -1)"
        class="@prevDisabled">
        View back
      </a>

      <a asp-action="Index" asp-route-page="@(Model.PageIndex + 1)" tabindex="@(Model.HasNextPage ? 0 : -1)"
        class="@nextDisabled">
        View next
      </a>
    </div>
  </section>
</div>