@model ImageGlass.Models.ExtensionIconModel


@* Featured content *@
<div class="container-fluid post-featured markdown-body">
  <div class="container">
    <div class="container-limit">
      <div class="post-body row gx-0">
        <div class="post-featured-info pe-lg-4 pe-md-3 pe-0 col-12 col-lg-5 col-md-6 mb-md-0 mb-3">
          <div class="post-date">
            <time datetime="@Model.UpdatedDate">
              @Model.UpdatedDate.ToDateString()
            </time>
          </div>
          <h2 class="post-title fs-1">
            @Model.Title
          </h2>
          <div class="post-description">
            <div class="d-flex align-items-center">
              <span>Version @Model.Version</span>
            </div>
            <div class="mt-3 d-flex align-items-center">
              <a class="btn btn-accent me-3" asp-action="DownloadExtensionIcon" asp-route-slugId="@Model.SlugAndId"
                title="Download">
                Download
              </a>
              <span class="fs-6" style="opacity: 0.65;">
                @(Model.Count > 0 ? Model.Count.ToString("N0") : "")
              </span>
            </div>
          </div>
        </div>

        <div class="post-featured-image ps-lg-4 ps-md-3 ps-0 col-12 col-lg-7 col-md-6">
          <span class="post-image-link">
            <img src="@Model.Image" alt="@Model.Title" onerror="this.hidden = true" />
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


@* Extension icon pack details *@
<div class="container">
  <div class="row gx-5">
    <div class="col-12 col-lg-8 my-5">
      <section class="markdown-body mb-5">
        <h2 id="information">Information</h2>
        <div class="mb-4">@Model.Description</div>
        <ul>
          @if (!string.IsNullOrWhiteSpace(Model.Author))
          {
            <li>Author: @Model.Author</li>
          }
          @if (!string.IsNullOrWhiteSpace(Model.Website))
          {
            <li>Website: <a href="@Model.Website" target="_blank" rel="noopener noreferrer">@Model.Website</a></li>
          }
          @if (!string.IsNullOrWhiteSpace(Model.Email))
          {
            <li>Email: @Model.Email</li>
          }
          <li>Last updated: @Model.UpdatedDate.ToDateTimeString()</li>
        </ul>
      </section>
    </div>



    <div class="col-12 col-lg-4 my-5">
      <aside class="sidebar">
        <section class="sidebar-item">
          @await Html.PartialAsync("_Ads")
        </section>
      </aside>
    </div>
  </div>
</div>
