@model PaginatedList<ExtensionIconModel>


@* Posts list *@
<div class="container markdown-body py-5 mx-auto">
  <h1>All theme packs</h1>

  @* Ads *@
  <div class="mb-5">
    <div class="sidebar-item section-quang-cao">
      @await Html.PartialAsync("_Ads")
    </div>
  </div>

  <section class="post-list">
    <ul>
      @foreach (var item in Model)
      {
        <li>
          <a class="post-item" asp-action="ExtensionIconDetailPage" asp-route-slugId="@item.SlugAndId" title="@item.Title">
            <div class="post-image">
              <img src="@item.Image" alt="@item.Title" onerror="this.hidden = true" />
            </div>
            <div class="post-body">
              <div class="post-title">
                @item.Title
              </div>
              <div class="post-description">@item.Description</div>
              <div class="post-date">
                <div>Version @item.Version</div>
                <div>Author: @item.Author</div>
                <time datetime="@item.UpdatedDate">
                  @item.UpdatedDate.ToDateString()
                </time>
              </div>
            </div>
          </a>
        </li>
      }
    </ul>

    @{
      var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
      var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <div class="post-list-pagination">
      <a asp-action="ExtensionIconListingPage" asp-route-page="@(Model.PageIndex - 1)"
        tabindex="@(Model.HasPreviousPage ? 0 : -1)" class="@prevDisabled">
        View back
      </a>

      <a asp-action="ExtensionIconListingPage" asp-route-page="@(Model.PageIndex + 1)"
        tabindex="@(Model.HasNextPage ? 0 : -1)" class="@nextDisabled">
        View next
      </a>
    </div>
  </section>
</div>
